/* ------------------------------------------------------------------ */
/* Big tablet to 1200px (widths smaller than 1140px row) */
/* ------------------------------------------------------------------ */

@media only screen and (max-width: 1200px) {
    .jumbotron-text-box {
        width: 100%;
        /* top/bottom, left/right */
        padding: 0 2%;
    }
    
    .row { padding: 0 2%; }
    .form-bg {
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

/* ------------------------------------------------------------------ */
/* Small tablets to big tablets: 823-1023px */
/* ------------------------------------------------------------------ */

@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    section { padding: 60px 0; }
    
    .sticky .main-nav {
        float: none;
        margin-left: 100px;
        font-size: 80%;
        font-weight: 400;
    }
    
    .long-copy {
        width: 80%;
        /* To center: cut remaining pixels in half: 30% / 2 = 15% */
        margin-left: 10%;
    }
    
    .steps-box { margin-top: 10px; }
    .steps-box:last-child { margin-top: 10px; }
    .works-steps { margin-bottom: 40px; }
    .works-steps:last-of-type { margin-bottom: 60px; }
    .app-screen { width: 50%; }
    
    .icon-small { 
        width: 17px;
        margin-right: 10px;
    }
    
    .city-feature { font-size: 90%; }
    
    .contact-form { width: 90%; }
}


/* ------------------------------------------------------------------ */
/* 767-823px */
/* ------------------------------------------------------------------ */

@media only screen and (max-width: 823px) {
    .btn-app img { 
        width: 150px;
    }
    
    .section-cities h3 { font-size: 95%; }
    .city-feature { font-size: 80%; }
    
    .plan-box li p{ font-size: 90%; }
    .plan-box { 
        margin: 0; 
        width: 100%;
    }    
    .sticky .main-nav { font-size: 75%; }
    
}


/* ------------------------------------------------------------------ */
/* Small phones to small tablets: 481-767px */
/* ------------------------------------------------------------------ */

@media only screen and (max-width: 767px) {
    
    body { font-size: 16px; }
    
    /* Even less vertical whitespace */
    section { padding: 30px 0;}
    
    h1 { font-size: 180%; }
    h2 {
        margin-top: 20px;
        font-size: 150%;
    }
    
    .row,
    .hero-text-box { padding: 0 4%; }
    
    /* Columns are now stacked */
    .col { 
        width: 100%; 
        /* From grid.css: */
        /* margin: 1% 0 1% 1.6%;*/
        margin: 0 0 4% 0;
    }
    
    /* Mobile navigation */
    .main-nav { display: none; } /* jQuery changes this to inline-block when button hit */
    .mobile-nav-icon { display: inline-block; }
    
    .main-nav {
        float: left;
        margin-top: 25px;
        margin-left: 35px;
    }
    
    .main-nav li {
        display: block;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: none;
        padding: 8px 0;
        font-size: 100%;
        -webkit-transition: 175ms;
        transition: 175ms;
    }
    
    /* When in mobile and nav is normal, "back to top" option does NOT display */
    .main-nav li:last-child {display: none;}
    
    .main-nav li a:hover,
    .main-nav li a:active {
        border-bottom: 2px solid #e67e22;
        padding-bottom: 11px;
    }
    
    /* Mobile sticky nav */
    .sticky .main-nav { display: none; } /* jQuery changes this to inline-block when button hit */ 
    .sticky .main-nav { 
        margin-bottom: 18px;
        margin-left: 50px;
        float: left;
        font-size: 100%;
    }
    
    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited {
        display: inline-block;
        padding: 8px 0;
        -webkit-transition: 175ms;
        transition: 175ms;
    }
    
    /* When in mobile and nav is sticky, "back to top" option displays */
    .sticky .main-nav li:last-child {display: inline-block;}

    .sticky .main-nav li a:hover,
    .sticky .main-nav li a:active { padding-bottom: 9px; }
    
    .sticky .mobile-nav-icon { 
        margin-top: 18px;
    }
    .sticky .mobile-nav-icon i { 
        color: #555;
    }
    
    .sticky .logo-black {margin-top: 7px;}
    
    /* features */
    
    .long-copy {
        width: 100%;
        margin-left: 0%;
    }
    .section-features i {
        width:100%;
    }
    .section-features .icon-big {
        font-size: 190%;
        display: inline;
        margin-left: 46%;
    }
    
    .section-features p {
        margin-bottom: 5px;
    }
    
    .section-features p,
    .section-features h3,
    .long-copy
    {
        margin-top: 10px;
        text-align: center;
    }
    
    .section-features h3,
    .section-features .long-copy
    {
        line-height: 30px;
    }
    .section-features h2 {
        line-height: 40px;
    }
    .section-features h2:after {
        margin-top: 20px;
    }
    
    .section-features p {
        line-height: 23px;
    }
    
    
    /* how it works */
    
    .app-screen { width: 40%; }
    
    .steps-box:first-child {
        text-align: center;
        padding-right: 3%;
        margin-top: 30px;
    }
    
    .works-step div {
        /* No line break, # can be side-by-side with the text */
        height: 40px;
        width: 40px;
        padding: 5px;
        margin-right: 15px;
        font-size: 120%;
    }
    
    .works-step { 
        margin-bottom: 20px;
        width: 90%;
        float:left;
    }
    
    .works-step:last-of-type { margin-bottom: 30px; }
    
    /* Cities */
    .city-box-1,
    .city-box-2,
    .city-box-3,
    .city-box-4 {
        border: 1.8px solid #f4f4f4;
        -webkit-box-shadow: 2px 3px 5px #ebebeb;
        box-shadow: 2px 3px 5px #ebebeb;
        padding: 45px 0 45px 0; 
    }
    
    .section-cities img { 
        padding: 0;
        padding-bottom: 25px;
        width: 80%;
        margin: auto 10% auto 10%;
        height: auto;
    }
    
    .section-cities h3 { 
        text-align: center; 
        font-size: 150%;
    }
    
    .section-cities h3:after {
        display: block;
        height: 2px;
        background-color: #ebebeb;
        content: " ";
        width: 150px;
        margin: 0 auto;
        margin-top: 10px;
    }
    
    .city-feature { 
        font-size: 120%;
        padding: 0 20% 0 35%;
    }
    
    /* Plans */

    .plan-box {
        width: 60%;
        margin-left: 20%;
        /* x axis offset, y axis offset, blur, color */
        -webkit-box-shadow: 2px 2px 2px #e2e2e2;
        box-shadow: 2px 2px 2px #e2e2e2;
    }

    .plan-box div {
        padding: 15px;
        border-bottom: 1px solid #ebebeb;
        font-size: 100%;
    }
    
    /* Map and forms */
    .map-box {
        width: 100%;
        height: auto;
        position: relative;
    }

    .map {
        width: 100%;
        height: 580px;
        position: relative;
        z-index: 0;
    }

    .form-box {
        height: auto;
        width: 100%;
        padding-top: 30px;
        position: relative;
    }


    
/* ------------------------------------------------------------------ */
/* shrink margin between seend button and textarea in section-form */
/* ------------------------------------------------------------------ */
    
    #space {
        display: none;
    }
    
    .footer-nav {
        float: none;
        text-align: center;
    }
    
    .social-icons {
        float: none;
        display: block;
        text-align: center;
        margin-bottom: 0;
    }
    
    .footer-2 {
        margin-top: 10px;
        margin-bottom: 0;
    }
}


/* ------------------------------------------------------------------ */
/* Small phones from 0-480px */
/* ------------------------------------------------------------------ */

@media only screen and (max-width: 480px) {
    section { padding: 25px 0;}
    .contact-form { width: 100%; }
    
    .city-feature {
        padding: 0 10% 0 15%;
    }
}