/* Nephritis color: #27ae60 */
/* Nephritis darker shade: #219251 */

/* LinkedIn color: #0077B5 */
/* LinkedIn darker shade: #005682 */
/* LinkedIn lighter shade: #008dd7 */

/* Geneseo color: #131f37 */
/* Geneseo lighter shade: #32518f */
/* Even lighter #3a5fa9 */
/* Lightest #466ebf */


/* Carrot color: #e67e22 */


/* ------------------------------------------- */
/* ------- BASIC SETUP ------- */
/* ------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #131f37;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    /* For small resolution: removes horizontal bar on bottom  */
    overflow-x: hidden;
}


/* ------------------------------------------- */
/* ------- REUSABLE COMPONENTS ------- */
/* ------------------------------------------- */

/* To indent content from sides and orient center */
.row {
    /* the only value for positioning (aside from margin/padding) that uses pixles for the website */
    max-width: 1140px;
    /*margin: 0 auto 0 auto;*/
    margin: 0 auto;
}

/* produce whitespace */
section {
    padding: 80px 0; 
}

.box {
    padding: 1%;
}

/* clear floats: important after using float properties to clear floats. Call this in the parent of an element with float property.
    - html doesn't record pixels for elements with float property
    - restore pixel calculation to correct padding issues concerning elements that proceed elements with float properties
*/

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/* ------------------------------------------- */
/* ------- Headings ------- */
/* ------------------------------------------- */

h1, 
h2, 
h3 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    /* correct unwanted margin space above header from normalize.css */
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    /* relative to font size set in html parent css rule */
    font-size: 240%;
    word-spacing: 4px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #32518f; /* Lighter geneseo */
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}


/* ------------------------------------------- */
/* ------- PARAGRAPHS ------- */
/* ------------------------------------------- */

.long-copy {
    line-height: 145%;
    width: 70%;
    /* To center: cut remaining pixels in half: 30% / 2 = 15% */
    margin-left: 15%;
}

.box p {
    font-size:90%;
    line-height: 145%;
}


/* ------------------------------------------- */
/* ------- ICONS ------- */
/* ------------------------------------------- */

.icon-big {
    font-size: 250%;
    /* Block in order to force a line-break */
    display: block;
    color: #0077B5;
    margin-bottom: 10px;
    margin-left: 50%;
    -webkit-transform: translate(-30%, 0);
    transform: translate(-30%, 0);
}

.icon-small {
    /* To give each icon space afterwards and access to width class */
    display: inline-block;
    color: #0077B5;
    width: 30px;
    font-size: 120%;
    margin-right: 10px;
    margin-top: -5px;
}


/* ------------------------------------------- */
/* ------- LINKS ------- */
/* ------------------------------------------- */

a:link,
a:visited {
    color: #3a5fa9;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #3a5fa9;
    -webkit-transition: border-bottom 200ms, color 200ms;
    transition: border-bottom 200ms, color 200ms;
}

a:hover,
a:active {
    color: #466ebf;
    border-bottom: 1px solid transparent;
}

/* ------------------------------------------- */
/* ------- BUTTONS ------- */
/* ------------------------------------------- */

.btn:link, 
.btn:visited,
input[type=submit] {
    /* change in-line property of <a> for this element to inline-block to have them appear side-by-siode, and to give them padding and margin capabilities*/
    display: inline-block;
    padding: 10px 33px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    -webkit-transition: background-color 200ms, border 200ms, color 200ms;
    transition: background-color 200ms, border 200ms, color 200ms;
}

.btn-full:link, 
.btn-full:visited,
input[type=submit] {
    background-color: #0077B5;
    border: 1px solid #0077B5;
    margin-right: 15px;
}

.btn-ghost:link, 
.btn-ghost:visited {
    border: 1px solid #0077B5;
    color: #0077B5;
}

.btn:hover, 
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #005682;
    border: 1px solid #005682;
    color: #fff;
}

/* ------------------------------------------- */
/* ------- HEADER ------- */
/* ------------------------------------------- */

header {
    background-image: linear-gradient(#131f37, rgba(0,0,0,0.0),rgba(0,0,0,0.7)), url(img/web_me.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    /* image stays in the same place */
    background-attachment: fixed;
}

.jumbotron-text-box {
    /* Won't use flow grid, b/c we want this text to be absolutely positioned */
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    /* half of width and height up and to left */
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

/* Main navigation */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 40px;
}

.main-nav li {
    display: inline-block;
    margin-right: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    /* Padding: Top-Bottom, Left-Right */
    padding: 5px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 1.8px solid #3a5fa9;
    -webkit-transition: 200ms;
    transition: 200ms;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #466ebf;
    padding-bottom: 7.5px;
}

.back-to-top {
    display: none;
}

/* Mobile navigation */
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    /* Pointer now reacts to link like it's a button */
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}

/* Sticky navigation */
.sticky {
    /* irrespective of scrolling */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    -webkit-box-shadow: 0 2px 2px #f0f0f0;
    box-shadow: 0 2px 2px #f0f0f0;
    z-index: 9999;
    -webkit-transition: 250ms;
    transition: 250ms;
}

.sticky .main-nav { margin-top: 18px;}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    border-bottom: none;
    padding: 5px 0;
    color: #555;
    -webkit-transition: 200ms;
    transition: 200ms;
}

.sticky .main-nav li a:hover,
.sticky .main-nav li a:active {
    border-bottom: 2px solid #0077B5;
}

.sticky .logo { display: none; }
.sticky .logo-black { display: block; }

.logo-black { 
    display: none; 
    height: 50px;
    width: auto;
    float: left;
    margin: 6px 0;
}

.sticky .back-to-top {
    display: inline-block;
}

/* ------------------------------------------- */
/* ------- ABOUT ME ------- */
/* ------------------------------------------- */

.section-about-me {
    
}



/* ------------------------------------------- */
/* ------- FOOTER ------- */
/* ------------------------------------------- */

footer {
    background-color: #272727;
    padding: 45px;
    font-size: 90%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-icons {
    list-style: none;
    float: right;
    margin-top: -5px;
}

.footer-nav li,
.social-icons li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-icons li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-icons li a:link,
.social-icons li a:visited {
    color: #696969;
    text-decoration: none;
    border: 0;
    -webkit-transition: 200ms;
    transition: 200ms;
}

.footer-nav li a:hover,
.footer-nav li a:active,
.social-icons li a:hover,
.social-icons li a:active {
    color: #fff;
}

.social-icons li a:link,
.social-icons li a:visited {
    font-size: 145%;
}

.ion-social-facebook {
    color: #3b5998;
    -webkit-transition: 400ms;
    transition: 400ms;
}

.ion-social-twitter {
    color: #00aced;
    -webkit-transition: 400ms;
    transition: 400ms;
}

.ion-social-googleplus {
    color: #dd4b39;
    -webkit-transition: 400ms;
    transition: 400ms;
}

.ion-social-instagram {
    color: #517fa4;
    -webkit-transition: 400ms;
    transition: 400ms;
}

.social-icons li i:hover,
.social-icons li i:active {
    color: #fff;
}


/* ------------------------------------------- */
/* ------- SCROLL ANIMATIONS ------- */
/* ------------------------------------------- */
/*
.js--animation-waypoint-features,
.js--animation-waypoint-phone,
.js--animation-waypoint-quotes-1,
.js--animation-waypoint-quotes-2,
.js--animation-waypoint-quotes-3,
.js--animation-waypoint-plan-1,
.js--animation-waypoint-plan-2,
.js--animation-waypoint-form { opacity: 0; }

.js--animation-waypoint-features.animated, 
.js--animation-waypoint-phone.animated,
.js--animation-waypoint-quotes.animated,
.js--animation-waypoint-quotes-1.animated,
.js--animation-waypoint-quotes-2.animated,
.js--animation-waypoint-quotes-3.animated, 
.js--animation-waypoint-plan-1.animated,
.js--animation-waypoint-plan-2.animated,
.js--animation-waypoint-form.animated { opacity: 1; }
*/